/* Tabs */
.tabs-wrapper {
	margin: 0 auto;
	max-width: 500px;
	min-height: 320px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 14px;
	line-height: 1.46;
	color: #333;
}

/* Tab set */
.tabs-wrapper .tab-set {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: top;
	width: 100%;
}
/*Tab Items*/
.tabs-wrapper .tab-item {
	background: #f1f1f1;
	float: left;
	margin: 0;
}
.tabs-wrapper .tab-item >a {
	display: block;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 4px 10px 3px 10px;
	text-decoration: none;
	border-radius: 3px 3px 0 0;
}
.tabs-wrapper .tab-item:first-child {
	margin-left: 20px;
}
.tabs-wrapper .tab-item:first-child >a {
    border-left: 1px solid #ccc;
}
.tabs-wrapper .active-tab {
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	position: relative;
	border-radius: 3px 3px 0 0;
}
.tabs-wrapper .active-tab >a,
.tabs-wrapper .tab-item >a:hover {
	background: #fff;
	color: #333;
}

/* Tab View Panel */
.tabs-wrapper .tabview-panel {
	border-top: 1px solid #ccc;
	border-radius: 3px 3px 0 0;
	padding: 5px;
	min-height: 200px;
}
.tabs-wrapper .tab-panel {
	padding: 3px;
	min-height: 194px;
	display: none;
}
.tabs-wrapper .active-panel {
	display: block;
}

/* Buttons */
.btn-holder {
	overflow: hidden;
	margin: 0 auto;
	width: 500px;
	text-align: center;
}
.btn {
	width: 150px;
	font-size: 13px;
	line-height: 16px;
	position: 2px;
}
.btn-longest {
	min-width: 300px;
}
 


 